@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&family=Poppins:wght@300&family=Roboto:wght@100;300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-select .ant-select-selector {
  border-radius: 9999px !important; /* Full rounded corners */
  border: 1px solid #d1d5db !important; /* Light gray border */
  padding: 8px 24px !important; /* Adjust internal padding */
  background-color: white !important; /* White background */
  color: black !important; /* Black text */
  transition: background-color 0.2s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Light shadow */
}

.custom-select .ant-select-selection-placeholder {
  color: black !important; /* Placeholder color */
}

.custom-select .ant-select-arrow {
  color: black !important; /* Dropdown arrow color */
}

.custom-select:hover .ant-select-selector {
  background-color: #f5f5f5 !important; /* Hover effect similar to the tabs */
}

.custom-dropdown {
  border-radius: 8px !important; /* Rounded corners for the dropdown */
  border: 1px solid #d1d5db !important; /* Border for the dropdown menu */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1) !important; /* Shadow for dropdown */
}

.custom-dropdown .ant-select-item-option {
  padding: 8px 16px !important; /* Adjust padding in dropdown items */
  transition: background-color 0.2s ease;
}

.custom-dropdown .ant-select-item-option-active {
  background-color: #f5f5f5 !important; /* Hover color for dropdown items */
}




body {
  transform: none;
  /* font-family: 'Lato', sans-serif !important; */
  /* font-family: 'Poppins', sans-serif !important; */
  /* font-family: 'Roboto', sans-serif; */
}
/* For WebKit-based browsers (Chrome, Safari) */
.bg-secondary::-webkit-scrollbar {
  width: 2px;
}


/* scroll bar design for sub indices */

.bg-secondary::-webkit-scrollbar-track {
  background: #f2eaea;
  border-radius: 10px;
}

.bg-secondary::-webkit-scrollbar-thumb {
  background: #2a59d8;
  border-radius: 10px;
  border: 1px solid transparent;
  background-clip: content-box;
}

.bg-secondary::-webkit-scrollbar-thumb:hover {
  background: #105aee;
}

/* For Firefox */
.bg-secondary {
  scrollbar-width: thin;
  scrollbar-color: #265cf3 #f1f1f1;
}

/* General styling for all scrollbars */
.bg-secondary {
  scrollbar-width: thin;
  scrollbar-color: #3634db #f1f1f1;
}

.blur {
  filter: blur(20px) blur(5px);
}

/* Sidebar.css */

/* CSS */
ul#suggestions-list::-webkit-scrollbar {
  width: 8px;
  /* Width of the scrollbar */
}

ul#suggestions-list::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  /* Background color of the scrollbar track */
}

ul#suggestions-list::-webkit-scrollbar-thumb {
  background-color: #000000;
  /* Color of the scrollbar thumb */
  border-radius: 4px;
  /* Border radius of the scrollbar thumb */
}

ul#suggestions-list::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  /* Color of the scrollbar thumb on hover */
}
/* CSS */
.suggestions-list::-webkit-scrollbar {
  width: 8px;
  /* Width of the scrollbar */
}

.suggestions-list::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  /* Background color of the scrollbar track */
}

.suggestions-list::-webkit-scrollbar-thumb {
  background-color: #000000;
  /* Color of the scrollbar thumb */
  border-radius: 4px;
  /* Border radius of the scrollbar thumb */
}

.suggestions-list::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  /* Color of the scrollbar thumb on hover */
}

/* CSS */

/* Track */
body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background-color: #ffffff;
}

body::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #000000;
}

/* handle */

p::-webkit-scrollbar {
  width: 5px;
}

p::-webkit-scrollbar-track {
  background-color: #ffffff;
}

p::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 105px;
}

p::-webkit-scrollbar-thumb:hover {
  background-color: #000000;
}

.ant-table .ant-table-content .ant-table-measure-row {
  display: none;
}
.ant-table-tbody > tr.ant-table-row:hover > td {
  background: none !important;
}

.ant-table-thead > tr > th {
  font-weight: bold !important;
  text-align: center !important;
  border: none !important;
  background-color: #f2f0f0 !important;
}

.ant-table-column-sorters .ant-table-column-sorter-up,
.ant-table-column-sorters .ant-table-column-sorter-down {
  color: #ffffff !important;
}

.ant-table-wrapper td.ant-table-column-sort {
  background-color: inherit !important;
}

:where(.css-dev-only-do-not-override-15rg2km).ant-table-wrapper
  .ant-table-tbody
  > tr
  > td {
  padding: 8px 8px !important;
}

.link-active {
  color: black;
  font-weight: 500;
  /* border-bottom: 2px solid #000; */
  position: relative;
}

/* .link-active::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 140%;
  width: 80px;
  height: 1px;
  background-color: #000;
  transform: translate(-50%, -50%);
  z-index: 0;
} */

/* .font-poppins{
    font-family: "Poppins", sans-serif;
}
   */

.clip-path {
  -webkit-clip-path: polygon(0 18%, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 18%, 100% 0, 100% 100%, 0 100%);
}

.my-custom-dots {
  position: absolute;
  bottom: 20px;
  left: 90%;
  transform: translateX(-80%);
}

.ant-carousel .slick-dots li button {
  background-color: red;
  /* Change the dot color to red */
  margin-top: 40px;
  color: red;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.ant-popconfirm-buttons button:first-child {
  color: white;
  background-color: #000;
  border: none;
  width: 50px;
}

.ant-popconfirm-buttons button:first-child:hover {
  color: white;
  background-color: #000;
  border: none;
}

.ant-popconfirm-buttons button:last-child {
  color: white;
  background-color: #f76560;
  border: none;
  width: 50px;
}

.ant-popconfirm-buttons button:last-child:hover {
  color: white;
  background-color: #f76560;
  border: none;
}

/* width */

.investment-opp .ant-table-cell,
.inv-pipeline .ant-table-cell,
.inv-approved .ant-table-cell,
.inv-closed .ant-table-cell {
  text-align: left !important;
}

.stock-calculator tbody tr:nth-child(odd) {
  background-color: white;
}

.custom-tooltip .ant-tooltip-inner {
  background-color: #fff;
  color: #000000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.custom-tooltip .ant-tooltip-arrow {
  border-top-color: #ffcc00;
}

.popover-overlay {
  z-index: 9999;
  /* Set the z-index to a higher value to bring the Popover to the front */
}

.company-highlighted-row {
  background-color: #d3d3d3 !important;
  /* color: red; */
}

.company-highlighted-row:hover {
  background-color: #d3d3d3 !important;
}

/* Add this CSS to your existing styles or in a separate CSS file */
@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.button-blink {
  animation: blink 1s linear;
  /* Adjust the duration as needed */
}

.ant-modal-confirm-btns .ant-btn-primary {
  background-color: black !important;
  /* Replace with your desired color */
}

.blinking-cursor {
  animation: blink 1s infinite;
}

.custom-pagination {
  display: flex;
  padding-top: 12px;
  justify-content: flex-end;
}

.ant-pagination-options {
  display: none !important;
}

.ul-nav-items li a span svg {
  margin-bottom: 6px;
}

.broker-search
  :where(.css-dev-only-do-not-override-15rg2km).ant-select
  .ant-select-arrow {
  display: none !important;
}

.broker-search .search-icon svg {
  background-color: #00adef !important;
}

/* Styles for screens smaller than 600px */
@media (max-width: 600px) {
  /* Add your styles here */
  body {
    font-size: 14px;
  }

  .container {
    width: 100% !important;
    padding: 10px;
  }

  /* ...more styles... */
}

/* calender */

.wrapper {
  width: 100%;
  /* Adjust the width as needed */
  margin: 0 auto;
  /* height: 70vh; */
}

.event {
  background-color: #1890ff;
  /* Customize event background color */
  color: #fff;
  /* Customize event text color */
  padding: 2px 4px;
  border-radius: 2px;
}

.ant-fullcalendar-header {
  background-color: #f0f2f5;
  /* Customize header background color */
  padding: 10px;
}

.ant-fullcalendar-header .ant-radio-group {
  margin-bottom: 0;
}

.ant-fullcalendar-table .ant-fullcalendar-column-header {
  font-weight: bold;
}

.ant-fullcalendar-month-panel .ant-fullcalendar-header {
  border-bottom: 1px solid #e8e8e8;
}

.ant-fullcalendar-month-panel .ant-fullcalendar-body {
  padding: 10px;
}

.ant-fullcalendar-date-panel .ant-fullcalendar-header {
  border-bottom: 1px solid #e8e8e8;
}

.ant-fullcalendar-date-panel .ant-fullcalendar-content {
  padding: 10px;
}

.ant-fullcalendar-content .ant-fullcalendar-cell {
  height: 100px;
  /* Adjust the cell height as needed */
  border: 1px solid #e8e8e8;
}

.ant-fullcalendar-today .ant-fullcalendar-value {
  color: #1890ff;
  /* Customize today's date text color */
}

.ant-fullcalendar-selected .ant-fullcalendar-value {
  background-color: #1890ff;
  /* Customize selected date background color */
  color: #fff;
  /* Customize selected date text color */
}

.holiday-cell {
  background-color: red;
  color: white;
  text-align: center;
  border-radius: 50%;
  padding: 2px;
}

:where(.css-dev-only-do-not-override-15rg2km).ant-picker-calendar
  .ant-picker-content
  th,
:where(.css-dev-only-do-not-override-15rg2km).ant-picker-calendar
  .ant-picker-content
  td {
  padding: 20px !important;
  border: 2px solid transparent !important;
  border-radius: 5px;
}

:where(.css-dev-only-do-not-override-15rg2km).ant-picker-calendar
  .ant-picker-date-panel
  .ant-picker-content
  th {
  width: 36px;
  background: #000;
  color: #fff;
}

:where(.css-dev-only-do-not-override-15rg2km).ant-btn-default:not(
    :disabled
  ):hover {
  color: #fff !important;
  border-color: #fff !important;
}

/* for checkbox */
.live-data-sector .ant-checkbox,
.stock-above-below .ant-checkbox {
  padding-top: 6px;
}

.ant-drawer-title {
  font-size: 28px !important;
}

.custom-search .ant-input {
  height: 40px !important;
}

.custom-search button {
  height: 40px !important;
}

.img-with-filter {
  max-width: none !important; /* Override the max-width: '100%' */
}

.blur-column {
  filter: blur(2px); /* Adjust the blur amount as needed */
}

.custom-search-marketLive .ant-input {
  height: 60px !important;
  font-size: 1.6rem !important;
}

.custom-search-marketLive .ant-input-group-addon {
  display: none !important;
}

.custom-search-marketLive button {
  height: 40px !important;
}

:where(.css-dev-only-do-not-override-12jzuas).ant-btn {
  height: auto !important;
}

:where(.css-dev-only-do-not-override-12jzuas).ant-message
  .ant-message-notice
  .ant-message-custom-content
  > .anticon {
  font-size: 18px !important;
}

/* antd tour for nav and company nav */
.ant-tour-content {
  /* position: relative; */
  width: 400px !important;
  margin-left: 50px;
}

.ant-tour-buttons .ant-tour-next-btn {
  color: #fff;
  background-color: #000;
}

.ant-tour-buttons .ant-tour-next-btn:hover {
  color: #fff;
  background-color: #000;
}

.ant-tour-buttons .ant-tour-prev-btn {
  color: #000;
  border-color: #d9d9d9;
}

.ant-tour-buttons .ant-tour-prev-btn:hover {
  color: #000;
  border-color: #d9d9d9;
}

.stock-sector .ant-select-selector {
  height: 40px !important;
  display: flex !important;
  align-items: center !important;
}

.mutual-fund-header div:not(:last-child) {
  border-right: 2px solid #ececec;
  padding-right: 80px;
}

.mutual-fund-holdings .ant-select-selector {
  height: 36px !important;
}

.mutual-fund-holdings .ant-select-selection-placeholder {
  display: flex;
  align-items: center;
}

.debentures-fund-header div:not(:last-child) {
  border-right: 2px solid #ececec;
  padding-right: 20px;
}

.blur-container {
  position: relative;
}

.blur-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  backdrop-filter: blur(5px);
  /* Adjust the blur intensity as needed */
}

.coming-soon-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-size: 24px;
  /* Adjust the font size as needed */
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.triangle {
  clip-path: polygon(0 0, 100% 0, 52% 100%);
}

.background-color-green {
  background-color: #37b24d; /* Light green color for positive change */
}

.background-color-red {
  background-color: #e96565; /* Light red color for non-positive change */
}
.background-color-blue {
  background-color: #57abf7; /* Light red color for non-positive change */
}

/* styles.css */
.table-company {
  /* border-collapse: collapse; */
  width: 100%;
}

.th-td {
  /* border: 1px solid #ccc; */
  padding: 8px;
  text-align: center;
}

/* Apply the hover effect to the entire row */
.tr:hover {
  background-color: #e5e7eb6c;
  /* Replace with the desired hover color */
}

/* Apply the hover effect to the first column */
.tr:hover .td:first-child {
  background-color: #f3f4f670;
  /* Replace with the desired hover color for the first column */
}

/* Red- danger

#FF433D

Green- success

#1DCE92

Blue- info

#1D73D1

Black- primary

#000000

White- secondary

#FFFFFF

Grey- description

#979EAA */

.custom-radio-container {
  display: flex;
  align-items: center;
}

.custom-radio {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.custom-radio.checked .cross {
  margin-right: 4px;
  margin-left: -12px;
}

.cross {
  font-weight: bold;
  margin-right: 0px;
}

.mutual-fund-financial li:nth-child(1) {
  border-right: 0.125rem solid rgb(212 212 212 / var(--tw-bg-opacity));
  opacity: 1;
  --tw-bg-opacity: 1;
}

.csv-import-modal .ant-modal-title {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
}

.csv-import-modal .ant-modal-content {
  max-height: 75vh;
  overflow-y: scroll;
  padding-top: 10px;
}

.footer-logo {
  border-radius: 50%;
}

/* for notes */
:where(.css-dev-only-do-not-override-12jzuas).ant-row {
  display: flex;
  justify-content: space-evenly !important;
  flex-flow: row wrap;
  min-width: 0;
}

.add-note label {
  color: #fff !important;
}

:where(.css-dev-only-do-not-override-12jzuas).ant-form-item
  .ant-form-item-label {
  overflow: visible !important;
}

/* nab bar fix */
.nav-top-fixed {
  position: fixed;
  top: 0;
  z-index: 999;
  /* transition: opacity 2s ease-in-out; */
  transform: translateY(0px);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.vertical-progress-wrapper {
  display: inline-block;
  transform: rotate(-90deg);
  width: 40%;
  padding: 10px !important;
}

.vertical-progress-wrapper .ant-progress-inner {
  height: 20px !important;
}

.vertical-progress-wrapper .ant-progress-bg {
  height: 20px !important;
}

.vertical-progress-wrapper .ant-progress-text {
  display: none !important;
}

.vertical-progress-wrapper .ant-progress-outer {
  position: absolute !important;
  top: 18px !important;
  left: 25px !important;
}

.PhoneInputCountryIcon--border {
  background-color: transparent !important;
  box-shadow: none !important;
}

input:focus {
  outline: none !important; /* Change the outline color or style as desired */
  /* Add other styles for regular focus here */
}

input:focus-visible {
  outline: none !important; /* Change the outline color or style as desired */
  /* Add other styles for focus-visible here */
}

.anticon-delete {
  display: none !important;
}

.anticon-eye svg {
  color: green !important;
  font-weight: 700;
  font-size: 22px !important;
}
.ant-upload-list-item-actions {
  display: flex !important;
  justify-content: center !important;
}

/* Style continue */

#faq_section h3 {
  font-size: 30px !important;
  line-height: 34px;
  font-weight: 600 !important;
  color: #fff;
  margin-bottom: 30px !important;
}

.hearder-content {
  gap: 1rem !important;
}

.fixed span.name {
  display: none;
}

.fixed .auth-btn .user-avatar {
  margin-right: 0;
  height: 30px;
  width: 30px;
}

.fixed .auth-btn {
  padding: 6px 10px;
}

/*nav*/
li.nav-items {
  margin-right: 20px;
}

.border-btn {
  border: 1px solid #000;
  padding: 8px 18px;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.border-btn:hover {
  border: 1px solid transparent;
  background: #23b123;
  color: #fff;
}

ul.ant-dropdown-menu.ant-dropdown-menu-root.ant-dropdown-menu-vertical.ant-dropdown-menu-light.absolute.top-2.left-0.gap-10.primary-dropdown.css-dev-only-do-not-override-gzal6t,
ul.ant-dropdown-menu.ant-dropdown-menu-root.ant-dropdown-menu-vertical.ant-dropdown-menu-light.absolute.top-2.left-0.css-dev-only-do-not-override-gzal6t,
.ant-dropdown .ant-dropdown-menu {
  background-color: #f6f7f8 !important;
  position: relative;
  border-radius: 24px;
  padding: 20px;
  min-width: 251px;
}

.ant-menu-vertical .ant-menu-submenu-title {
  height: 100% !important;
}

.ant-dropdown
  .ant-dropdown-menu
  .ant-dropdown-menu-item
  .ant-dropdown-menu-submenu-expand-icon
  .ant-dropdown-menu-submenu-arrow-icon {
  line-height: 70px;
}

.ant-menu-submenu-popup .ant-menu-vertical > .ant-menu-item {
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #787a85;
  border-radius: 0;
  padding: 0;
}

.ant-menu-submenu-popup .ant-menu-vertical > .ant-menu-item:list-chld {
  border-bottom: 0;
}

li.ant-menu-submenu.ant-menu-submenu-vertical:hover .ant-menu-title-content {
  color: #23b123;
}

.ant-menu-submenu-popup .ant-menu-vertical.ant-menu-sub {
  background: #f6f7f8;
  padding: 15px;
  box-shadow: 0px 4px 20px 0px #170f4914;
}

.ant-dropdown .ant-dropdown-menu,
.ant-dropdown-menu-submenu .ant-dropdown-menu {
  background-color: #f6f7f8;
}

.ant-menu-inline .ant-menu-submenu-title {
  overflow: visible;
  height: 100% !important;
}

.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item:hover,
.ant-menu-sub .ant-menu-title-content:hover {
  background-color: transparent;
  color: #23b123;
}

.ant-dropdown-menu-item-active {
  background-color: transparent;
}

.ant-menu-light .ant-menu-submenu-selected > .ant-menu-submenu-title,
.ant-menu-light .ant-menu-item-selected,
.ant-menu-light > .ant-menu .ant-menu-item-selected {
  color: #000;
}

.ant-menu-inline .ant-menu-submenu-title,
.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item {
  padding-inline: 0 !important;
}

.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
  height: auto;
  background-color: #f6f7f8;
}

.ant-menu-light.ant-menu-root.ant-menu-inline,
.ant-menu-light.ant-menu-root.ant-menu-vertical {
  border-inline-end: 0;
  background: none;
}

.ant-menu-vertical .ant-menu-submenu-title {
  height: 70px;
}

.ant-menu-light.ant-menu-inline .ant-menu-sub.ant-menu-inline,
.ant-menu-light > .ant-menu.ant-menu-inline .ant-menu-sub.ant-menu-inline {
  box-shadow: 0px 4px 20px 0px #170f4914;
  background-color: #f6f7f8;
  text-align: left;
  padding: 15px;
  border-radius: 16px;
  margin-top: 8px;
}

.ant-menu-inline .ant-menu-item,
.ant-menu-vertical .ant-menu-item,
.ant-menu-inline .ant-menu-submenu-title,
.ant-menu-vertical .ant-menu-submenu-title {
  margin-inline: 0;
}

.ant-menu-light,
.ant-menu-light > .ant-menu,
.ant-menu-light:not(.ant-menu-horizontal)
  .ant-menu-item:not(.ant-menu-item-selected):hover,
.ant-menu-light
  > .ant-menu:not(.ant-menu-horizontal)
  .ant-menu-item:not(.ant-menu-item-selected):hover,
.ant-menu-light:not(.ant-menu-horizontal) .ant-menu-submenu-title:hover,
.ant-menu-light
  > .ant-menu:not(.ant-menu-horizontal)
  .ant-menu-submenu-title:hover,
.ant-menu-light .ant-menu-item-selected,
.ant-menu-light > .ant-menu .ant-menu-item-selected,
.ant-menu-light:not(.ant-menu-horizontal)
  .ant-menu-item:not(.ant-menu-item-selected):active,
.ant-menu-light
  > .ant-menu:not(.ant-menu-horizontal)
  .ant-menu-item:not(.ant-menu-item-selected):active {
  background-color: transparent;
}

.ant-menu-light .ant-menu-item:not(.ant-menu-item-disabled):focus-visible,
.ant-menu-light
  > .ant-menu
  .ant-menu-item:not(.ant-menu-item-disabled):focus-visible {
  outline: 0;
}

.ant-menu-light .ant-menu-item-selected,
.ant-menu-light > .ant-menu .ant-menu-item-selected {
  color: 000;
}

.ant-menu-inline .ant-menu-item,
.ant-menu-vertical .ant-menu-item,
.ant-menu-inline .ant-menu-submenu-title,
.ant-menu-vertical .ant-menu-submenu-title {
  width: auto;
}

.ant-menu-inline .ant-menu-item {
  border-bottom: 1px solid #787a85;
  height: auto;
  padding-left: 0 !important;
  line-height: 30px;
  margin: 0;
}

.ant-menu .ant-menu-item,
.ant-menu .ant-menu-submenu,
.ant-menu .ant-menu-submenu-title {
  border-radius: 0;
}

.ant-menu-inline .ant-menu-item:last-child {
  border-bottom: 0;
}

.ant-menu-submenu-title {
  padding-left: 0 !important;
}

.menu-icon {
  height: 70px;
  width: 70px;
  border-radius: 15px;
  background: #f6f7f8;
  box-shadow: 0px 4px 20px 0px #170f4914;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.ant-menu-submenu-title {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
/*home banner*/
#banner {
  background: url("../assets/img/banner_bg.jpg") left top;
  background-size: cover;
  position: relative;
  padding: 120px 0;
  border-radius: 0 0 100px 100px;
}

#banner:before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  background: rgba(28, 34, 42, 0.8);
  bottom: 0;
  z-index: 0;
  border-radius: 0 0 100px 100px;
}

.search {
  text-align: center;
  max-width: 817px;
  margin-bottom: 30px;
}

.nav-search {
  position: relative;
}

.nav-search input {
  background: none !important;
  color: #000 !important;
  border: 1px solid #000;
  border-radius: 8px !important;
  height: 38px;
  width: 152px;
  max-width: 100%;
  padding: 7px;
  align-items: center;
  color: #999999 !important;
  font-size: 12px;
}

.nav-search:hover {
  color: #fff;
}

.nav-search input {
  margin-top: 0;
}

.nav-search .search-icon {
  height: 30px;
  width: 30px;
  line-height: 50px;
  border-radius: 8px;
  font-size: 5px;
  top: 10%;
  right: 4px !important;
}

.nav-search .search-icon svg {
  font-size: 20px;
}

.fixed .nav-search .search-icon {
  top: 10%;
}

#suggestions-list {
  position: absolute;
  top: 62px;
  width: 100%;
}

.suggestion-tab {
  position: relative;
  max-height: 350px;
  min-height: 100px;
  overflow-y: auto;
}

.suggestion-tab .ant-tabs-nav,
.fixed-tabs {
  transition: all 0.3s ease-in-out;
  position: fixed;
  width: auto;
  height: auto;
  background: #fff;
  z-index: 1;
}

.suggestion-tab .ant-tabs-nav {
  display: none;
}

.search-tab #suggestions-list {
  top: 38px;
  position: absolute;
  min-width: 600px;
  right: 0;
}

.search h1 {
  font-size: 3rem;
  line-height: 4rem;
  margin-bottom: 25px;
}

.banner-content {
  min-height: max-content;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search input {
  width: 100%;
  border-radius: 24px;
  padding: 1.25rem 5rem 1.25rem 1.25rem;
  height: 62px;
  margin-top: 0;
  font-size: 16px;
}

span.search-icon {
  height: 50px;
  width: 50px;
  line-height: 50px;
  background: #23b123;
  text-align: center;
  display: flex;
  border-radius: 16px;
  color: #fff;
  justify-content: center;
  align-items: center;
  top: 9%;
  right: 6px !important;
  font-size: 27px;
}

/*todays pick*/
.todays-pick {
  border-radius: 24px;
  box-shadow: 1.43856680393219px 1.43856680393219px 14.38566780090332px 0px
    #00000024 inset;
  background: rgba(28, 34, 42, 0.9);
  padding: 23px;
  color: #efefef;
  text-align: center;
  width: 505px;
  max-width: 100%;
}

.pick-list {
  background: #202830;
  border-radius: 12px;
  padding: 8px;
}

.todays-pick .block-title {
  font-size: 24px !important;
  line-height: 34px;
  margin-bottom: 0 !important;
}

.pick-content div {
  display: flex;
  column-gap: 10px;
  align-items: center;
  /* justify-content: center; */
  margin-bottom: 20px;
}

.pick-content span:first-child {
  font-size: 16px;
  font-weight: 700;
}

.pick-content .loser {
  color: rgb(231, 27, 27);
}

.pick-content .gainer {
  color: rgb(35, 177, 35);
}

.pick-content span:nth-child(2) {
  color: rgb(214, 214, 214);
  text-transform: uppercase;
  font-weight: 700;
}

.pick-content span:last-child {
  height: 34px;
  width: 34px;
  border: 1px solid rgb(246, 247, 248);
  display: inline-block;
  border-radius: 50%;
}

/*carousel*/
.todays-pick .slick-list {
  padding-bottom: 40px;
}

.todays-pick .ant-carousel .slick-dots li button {
  background: #5d5f67 !important;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  transition: all 0.3 ease-in-out;
  margin-top: 0;
}

.todays-pick .ant-carousel .slick-dots-bottom {
  bottom: 16px;
}

.todays-pick .ant-carousel .slick-dots li.slick-active button {
  background: #f6f7f8 !important;
  transform: scale(1.2);
}

.todays-pick .ant-carousel .slick-dots li button::before,
.todays-pick .ant-carousel .slick-dots li button::after {
  display: none;
}

.todays-pick .slick-slide > div {
  display: flex;
  gap: 10px;
}

/* FAQ */
#faq_section {
  border-radius: 100px 100px 0 0;
  padding: 80px 0 30px 0;
  background: #37383c;
  color: #f6f7f8;
  margin-top: 30px;
}

.faq-content {
  width: 100%;
}

.faq-content .ant-collapse > .ant-collapse-item > .ant-collapse-header {
  cursor: pointer;
  transition: all 0.3s, visibility 0s;
  background: #404144;
  color: #f6f7f8;
  border-radius: 10px;
  margin: 20px 0;
  font-size: 18px;
  padding: 20px 34px;
  padding-inline-start: 25px;
  position: relative;
}

.ant-collapse {
  border: 0;
}

.ant-collapse .ant-collapse-content {
  background-color: transparent;
  border-top: 0;
  color: #f6f7f8;
  font-size: 18px;
}

.ant-collapse > .ant-collapse-item {
  border-bottom: 0;
}

.ant-collapse
  > .ant-collapse-item
  > .ant-collapse-header
  .ant-collapse-expand-icon {
  position: absolute;
  right: 0;
  color: #23b123;
}

/*footer*/
.social-media li a {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  text-align: center !important;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: #d0d2d4;
}

.social-media li a:hover {
  color: #d0d2d4;
}

.social-media li:first-child a:hover {
  background: #1194f4;
}

.social-media li:nth-child(2) a:hover {
  background: #e84b57;
}

.social-media li:last-child a:hover {
  background: #d0d2d4;
}

/*testimonial*/
.testimonial-content {
  width: 1280px;
  max-width: 100%;
  margin: 0 auto;
}

.testimonial-list {
  padding: 14px;
  border-radius: 30px;
  background: linear-gradient(
      142.13deg,
      rgba(255, 255, 255, 0.28) 1.8%,
      rgba(255, 255, 255, 0.31) 99.75%
    ),
    linear-gradient(
      143.48deg,
      rgba(255, 255, 255, 0.43) 9.15%,
      rgba(227, 227, 227, 0.41) 112.98%
    );
  max-width: 100%;
  margin: 0 auto;
}

.testimonial-list > div {
  background: url("../assets/img/Noise.png") left top;
  background-size: cover;
  border-radius: 30px;
  padding: 30px;
}

.client-img {
  height: 54px;
  width: 54px;
  border-radius: 50%;
  border: 3px solid #008026;
  overflow: hidden;
  margin: 0 auto 20px;
  box-shadow: 0 6px 10px rgba(0, 128, 38, 0.5);
}

div#testimonial_section {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial-list {
  text-align: center;
}

.client-words {
  margin-bottom: 30px;
}

.client-detail {
  font-weight: 700;
}

.testimonial-icon {
  font-size: 50px;
  color: #008026;
  margin-bottom: 30px;
}

div#testimonial_section .slick-track {
  padding: 60px 0;
}

div#testimonial_section .slick-track .slick-active {
  transition: all 0.3s ease-in-out;
}

div#testimonial_section.autoplay-enabled
  .slick-slide.slick-active.slick-current
  + .slick-slide,
.autoplay-paused .slick-slide:nth-child(2n) {
  transform: scale(1.2);
  transition: all 0.3 ease-in-out;
}

div#testimonial_section
  .slick-slide.slick-active.slick-current
  + .slick-active
  .testimonial-list {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

div#testimonial_section .slick-prev:before,
.slick-next:before {
  color: #008026;
}

div#testimonial_section .ant-carousel .slick-prev,
.ant-carousel .slick-next {
  color: #000;
}

div#testimonial_section .ant-carousel .slick-prev:hover,
div#testimonial_section .ant-carousel .slick-next:hover,
div#testimonial_section .ant-carousel .slick-prev:focus,
div#testimonial_section .ant-carousel .slick-next:focus {
  color: green;
}

div#testimonial_section .ant-carousel .slick-prev,
div#testimonial_section .ant-carousel .slick-next {
  top: 70%;
  z-index: 1;
}

div#testimonial_section .ant-carousel .slick-prev {
  left: 33%;
}

div#testimonial_section .ant-carousel .slick-next {
  right: 33%;
}

/* profile */
.user-avatar {
  height: 134px;
  width: 134px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid;
  margin: 0 auto;
}

.auth-btn .user-avatar {
  height: 40px;
  width: 40px;
  border: 2px solid #000000;
  margin-right: 15px;
}

.auth-btn {
  /* display: inline-flex;
   background: #37383C;
   padding: 10px 20px;
   border-radius: 12px;
   color: #fff;
   align-items: center; */
}

.auth-btn span.name {
  font-size: 14px;
  position: relative;
}

.user-detail {
  padding: 40px;
  background: #eff1f8;
  border-radius: 24px;
  position: relative;
  text-align: center;
}

.user-detail > div:first-child {
  position: relative;
}

.user-detail > div:first-child span {
  height: 20px;
  width: 20px;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  right: calc(50% - 50px);
  bottom: 7px;
}

.logout {
  position: absolute;
  top: 30px;
  right: 30px;
  background: #fff;
  padding: 18px;
  border-radius: 12px;
  transform: scaleX(-1);
  font-size: 24px;
  transition: all 0.3s ease;
}

.logout:hover {
  background: #37383c;
  color: #fff;
}

.user-info {
  margin: 30px 0;
}

.suggestion-tab {
  background: #eff1f8;
  padding: 10px;
  border-radius: 12px;
}

.suggestion-tab .ant-tabs-top > .ant-tabs-nav::before {
  border-bottom: 0;
}

.profile-tab .ant-tabs .ant-tabs-tab,
.suggestion-tab .ant-tabs .ant-tabs-tab,
.ant-tabs-tab {
  background: none;
  border: 1px solid #babdc9;
  padding: 10px !important;
  border-radius: 12px;
  color: #47484f;
}

.profile-tab .ant-tabs-tab.ant-tabs-tab-active,
.suggestion-tab .ant-tabs-tab.ant-tabs-tab-active {
  background: #000;
  border: 1px solid transparent;
  color: #f6f7f8;
  border-radius: 12px;
}

.profile-tab .ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn,
.suggestion-tab .ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #f6f7f8;
}

.profile-tab .ant-tabs .ant-tabs-tab,
.suggestion-tab .ant-tabs .ant-tabs-tab {
  padding: 0;
}

.profile-tab .ant-tabs .ant-tabs-tab + .ant-tabs-tab,
.suggestion-tab .ant-tabs .ant-tabs-tab + .ant-tabs-tab {
  margin: 0 0 0 18px;
}

.profile-tab .ant-tabs-ink-bar,
.suggestion-tab .ant-tabs-ink-bar {
  background-color: transparent !important;
  /* Set the background color to transparent */
}

.profile-tab .ant-tabs-tab-active .suggestion-tab .ant-tabs-tab-active {
  border-color: transparent !important;
  /* Set the border color to transparent */
}

.tab-info {
  text-align: left;
}

.tab-info strong {
  font-weight: 600;
}

.tab-info p {
  margin-bottom: 10px;
}

.profile-tab .ant-tabs-tabpane {
  background: #f6f7f8;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0px 4.779756546020508px 19.11902618408203px 0px #0000000d;
  min-width: 400px;
  margin: 0 auto;
  transition: width 2s;
}

.tab-info button {
  display: flex;
  width: auto;
  padding: 10px 20px;
  justify-content: space-between;
  align-items: center;
  background: #37383c;
  color: #fff;
  border-radius: 12px;
  width: auto !important;
  margin-bottom: 10px;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}

.tab-info button:hover {
  border: 1px solid #000;
  color: #000;
  background: none;
}

.tab-info button span {
  position: relative !important;
  margin-left: 10px;
}

/* Responsive */
/*mobile view*/
li.mobmenu-list {
  font-size: 22px;
  line-height: 34px;
}

li.mobmenu-list ul {
  background: #f6f7f8;
  border-radius: 14px;
  margin-top: 10px;
}

li.mobmenu-list ul li {
  margin-bottom: 10px;
  font-size: 1.875rem !important;
  line-height: 2.25rem !important;
  cursor: pointer;
  font-weight: 500;
}

li.mobmenu-list .menu-icon {
  height: 50px;
  width: 50px;
}

.mobile-menu {
  width: 100%;
}

.mobmenu-list button {
  position: relative;
  width: 100%;
}

.mobmenu-list button span {
  position: absolute;
  right: 0;
}

.fixed .mobmenu-list span.name {
  display: block;
}

.fixed .mobmenu-list .auth-btn {
  margin-bottom: 5px;
  padding: 10px 20px;
}

.fixed .mobmenu-list .auth-btn .user-avatar {
  margin-right: 10px;
  height: 40px;
  width: 40px;
}

@media (max-width: 1280px) {
  #faq_section {
    border-radius: 60px 60px 0 0;
  }

  .faq-content {
    padding: 20px;
  }
}

@media (max-width: 1024px) {
  .search-list {
    flex-direction: column;
  }

  .search-list > div:not(:first-child) {
    width: 100% !important;
  }

  .search-list > div:last-child {
    justify-content: start !important;
  }

  .ant-menu-vertical .ant-menu-submenu-title {
    height: 50px !important;
    line-height: 50px !important;
  }

  .marquee-content {
    font-size: 14px !important;
    padding: 5px 0;
    margin: 0;
  }

  #banner {
    padding: 70px 0;
  }

  .search {
    max-width: 550px;
  }

  .search h1 {
    font-size: 2.4rem;
  }

  .search input {
    height: 70px !important;
    border-radius: 18px;
    font-size: 26px !important;
  }

  #suggestions-list {
    top: 46px;
    width: 100%;
    background-color: white;
    z-index: 50;
    margin-top: 50px;
  }

  span.search-icon {
    height: 40px;
    width: 40px;
    top: 20%;
    font-size: 22px;
    right: 15px !important;
  }

  .pick-content div {
    column-gap: 20px;
  }

  .testimonial-content {
    width: 700px;
  }

  div#testimonial_section
    .slick-slide.slick-active.slick-current
    + .slick-slide {
    transform: scale(0);
  }
}

@media (max-width: 1023px) {
  #footer h2 {
    font-size: 22px;
    text-align: center;
  }

  #footer p,
  #footer a {
    text-align: center;
    font-size: 16px;
  }

  .footer-logo img {
    width: 44px;
  }

  #footer svg {
    font-size: 20px;
  }

  .footer-cnt > div > div {
    display: block;
    /* flex-flow: row wrap; */
    flex-direction: row;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .ant-tabs-tabpane {
    min-width: 100% !important;
  }

  .search h1 {
    font-size: 1.8rem;
    line-height: 1.8rem;
    margin-bottom: 20px;
  }

  #faq_section {
    border-radius: 44px 44px 0 0;
    padding-top: 22px;
  }

  .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    margin: 10px 0;
    font-size: 16px;
    padding: 14px 29px;
    padding-inline-start: 14px;
  }

  .ant-collapse .ant-collapse-content > .ant-collapse-content-box {
    font-size: 16px;
  }

  .testimonial-content {
    width: 500px;
  }
}

@media (max-width: 480px) {
  #banner,
  #banner:before {
    border-radius: 0 0 70px 70px;
  }

  .auth-btn .user-avatar {
    height: 30px;
    width: 30px;
  }

  .auth-btn {
    padding: 10px 20px;
  }

  .mobile-menu {
    margin: 0 !important;
  }

  .user-avatar {
    height: 80px;
    width: 80px;
    border: 3px solid;
  }

  .user-info {
    margin: 15px 0;
  }

  .user-detail {
    padding: 15px 15px 110px;
  }

  .logout {
    top: auto;
    right: auto;
    bottom: 20px;
  }

  .search,
  .todays-pick {
    max-width: 320px;
  }

  .testimonial-content {
    width: 300px;
  }

  .footer-nav ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  .footer-nav ul li {
    display: flex;
    justify-content: center;
  }

  .ant-menu-title-content {
    font-size: 1.875rem !important;
    line-height: 2.25rem !important;
  }
}
